---
import type { MarkdownHeading } from "astro";
import type { CollectionEntry } from "astro:content";
import Contributors from "../components/Contributors.astro";
import HeadCommon from "../components/HeadCommon.astro";
import HeadSEO from "../components/HeadSEO.astro";
import Header from "../components/Header/Header.astro";
import NextLink from "../components/NextLink.astro";
import PageContent from "../components/PageContent/PageContent.astro";
import LeftSidebar from "../components/LeftSidebar/LeftSidebar.astro";
import RightSidebar from "../components/RightSidebar/RightSidebar.astro";
import { GITHUB_EDIT_URL, SITE } from "../consts.js";
import contributors from "../data/contributors.json";

type Props = CollectionEntry<"docs">["data"] & {
  headings: MarkdownHeading[];
};

interface Link {
  url: string;
  text: string;
}

const { headings, ...data } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const currentPage = Astro.url.pathname;
const currentFile = `src/content/docs${currentPage.replace(/\/$/, "")}.md`;
const githubEditUrl = `${GITHUB_EDIT_URL}/${currentFile}`;
const nextLink: Record<string, Link | undefined> = {
  "/introduction": { text: "CLI", url: "/cli" },
  "/cli": { text: "Node.js API", url: "/node" },
  "/node": { text: "Advanced", url: "/advanced" },
  "/advanced": { text: "About", url: "/about" },
  "/openapi-fetch": { text: "API", url: "/openapi-fetch/api" },
  "/openapi-fetch/api": { text: "Examples", url: "/openapi-fetch/examples" },
  "/openapi-fetch/examples": { text: "About", url: "/openapi-fetch/about" },
};
---

<html dir={data.dir} lang={data.lang} class="initial">
  <head>
    <HeadCommon />
    <HeadSEO {...data} canonicalUrl={canonicalURL} />
    <title>
      {`${data.title} › ${SITE.title}`}
    </title>
    <style lang="scss">
      .container {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        padding-left: var(--global-layout-gap);
        padding-right: var(--global-layout-gap);
        width: var(--global-max-width);
      }

      .layout {
        display: grid;
        gap: 1.5rem;
        width: 100%;

        @media (min-width: 600px) {
          grid-template-columns: var(--global-left-sidebar-width) auto var(--global-right-sidebar-width);
        }
      }

      .grid-sidebar {
        max-height: 100vh;
        padding: 0;

        @media (min-width: 600px) {
          position: sticky;
          top: 1rem;
          z-index: 10;
        }
      }

      #grid-left {
        background-color: token('color.ui.bg');
        display: flex;
      }

      #grid-main {
        display: flex;
        flex-direction: column;
        max-width: var(--global-main-content-width);
        overflow: hidden;
      }

      #grid-right {
        display: none;

        @media (min-width: 900px) {
          display: flex;
        }
      }
    </style>
  </head>

  <body>
    <Header currentPage={currentPage} />
    <div class="container">
      <main class="layout">
        <aside id="grid-left" class="sidenav sidenav--primary grid-sidebar" title="Site Navigation">
          <LeftSidebar currentPage={currentPage} />
        </aside>
        <div id="grid-main">
          <PageContent title={data.title} headings={headings} githubEditUrl={githubEditUrl}>
            <slot />
            {currentPage.startsWith("/about") && <Contributors contributors={contributors["openapi-typescript"]} />}
            {currentPage.startsWith("/openapi-fetch/about") && <Contributors contributors={contributors["openapi-fetch"]} />}
            {nextLink[currentPage] && <NextLink href={nextLink[currentPage]!.url}>{nextLink[currentPage]!.text}</NextLink>}
          </PageContent>
        </div>
        <aside id="grid-right" class="sidenav grid-sidebar" title="Table of Contents">
          <RightSidebar headings={headings} githubEditUrl={githubEditUrl} />
        </aside>
      </main>
    </div>
    <script defer src="https://static.cloudflareinsights.com/beacon.min.js" data-cf-beacon='{"token": "8d756941072a4e108206714e34ad450b"}'></script>
  </body>
</html>
